.welcome__content-animation {
  position: relative;
  &-graph {
    width: 530px;
    height: 312px;
    background: url("./../assets/graph/graph.svg") no-repeat center center/cover;
  }
  &-profit {
    padding: 11px;
    width: 163px;
    height: 110px;
    background: linear-gradient(155deg, rgba(255, 188, 29, 1) 0%, rgba(255, 210, 59, 1) 100%);
    border-radius: 16px;
    position: relative;
    bottom: 60px;
    left: 410px;
    &-title {
      margin-top: 8px;
      color: rgba(255, 255, 255, 1);
      font-size: 13px;
      font-weight: 400;
    }
    &-text {
      margin-top: 5px;
      color: rgba(255, 255, 255, 1);
      font-size: 24px;
      font-weight: 700;
    }
    &-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      background: linear-gradient(45deg, rgba(240, 195, 70, 1) 0%, rgba(255, 230, 149, 1) 100%);
      box-shadow: 0px 4.54px 9.07px 0px rgba(232, 156, 0, 1);
    }
  }
  &-buy {
    transform: translate(-50%, -50%);
    background: #58585e;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 8px;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    bottom: 125px;
    left: 235px;
    animation: buy 5s ease infinite;
  }
  &-sell {
    transform: translate(-50%, -50%);
    left: 325px;
    top: 65px;
    background: #58585e;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 8px;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    animation: sell 5s ease infinite;
  }
  &-firstTrader {
    position: absolute;
    animation: trader1 5s ease infinite;
    &-trader {
      position: absolute;
      padding: 2px;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 1);
      border-radius: 100px;
      gap: 8px;
      right: 10px;
    }
    &-img {
      border-radius: 100px;
    }
    &-name {
      color: rgba(0, 18, 133, 1);
      font-size: 16px;
      font-weight: 400;
      padding-right: 14px;
      white-space: nowrap;
    }
    &-cursor {
      top: -20px;
      right: -10px;
    }
  }
  &-secondTrader {
    position: absolute;
    animation: trader2 5s ease infinite;
    &-trader {
      left: 10px;
      position: absolute;
      padding: 2px;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 1);
      border-radius: 100px;
      gap: 8px;
    }
    &-img {
      border-radius: 100px;
    }
    &-name {
      color: rgba(0, 18, 133, 1);
      font-size: 16px;
      font-weight: 400;
      padding-right: 14px;
      white-space: nowrap;
    }
    &-cursor {
      top: -20px;
      left: -10px;
    }
  }
}

@keyframes trader1 {
  0% {
    bottom: 210px;
    left: 160px; //1
  }
  10% {
    bottom: 210px;
    left: 160px; //1
  }
  20% {
    bottom: 105px;
    left: 220px; //2
  }
  90% {
    bottom: 105px;
    left: 220px; //2
  }
  100% {
    bottom: 210px;
    left: 160px; //1
  }
}

@keyframes buy {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes trader2 {
  0% {
    right: 105px;
    bottom: 230px;
  }

  30% {
    right: 105px;
    bottom: 230px;
  }
  40% {
    right: 190px;
    bottom: 315px;
  }
  90% {
    right: 190px;
    bottom: 315px;
  }
  100% {
    right: 105px;
    bottom: 230px;
  }
}

@keyframes sell {
  0% {
    opacity: 0;
  }

  39% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
