.welcome__content-animation {
  position: relative;
}
.welcome__content-animation-graph {
  width: 530px;
  height: 312px;
  background: url("./../assets/graph/graph.svg") no-repeat center center/cover;
}
.welcome__content-animation-profit {
  padding: 11px;
  width: 163px;
  height: 110px;
  background: linear-gradient(155deg, rgb(255, 188, 29) 0%, rgb(255, 210, 59) 100%);
  border-radius: 16px;
  position: relative;
  bottom: 60px;
  left: 410px;
}
.welcome__content-animation-profit-title {
  margin-top: 8px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 400;
}
.welcome__content-animation-profit-text {
  margin-top: 5px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
}
.welcome__content-animation-profit-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(240, 195, 70) 0%, rgb(255, 230, 149) 100%);
  box-shadow: 0px 4.54px 9.07px 0px rgb(232, 156, 0);
}
.welcome__content-animation-buy {
  opacity: 0;
  position: absolute;
  bottom: 135px;
  left: 215px;
  animation: buy 5s ease infinite;
}
.welcome__content-animation-sell {
  position: absolute;
  right: 185px;
  top: 55px;
  animation: sell 5s ease infinite;
}
.welcome__content-animation-firstTrader {
  position: absolute;
  padding: 2px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgb(255, 255, 255);
  border-radius: 100px;
  bottom: 0px;
  left: 40px;
  animation: trader1 5s ease infinite;
}
.welcome__content-animation-firstTrader-img {
  border-radius: 100px;
}
.welcome__content-animation-firstTrader-name {
  color: rgb(0, 18, 133);
  font-size: 16px;
  font-weight: 400;
  padding-right: 14px;
}
.welcome__content-animation-firstTrader-cursor {
  position: absolute;
  top: -20px;
  right: -10px;
}
.welcome__content-animation-secondTrader {
  position: absolute;
  padding: 2px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgb(255, 255, 255);
  border-radius: 100px;
  animation: trader2 5s ease infinite;
}
.welcome__content-animation-secondTrader-img {
  border-radius: 100px;
}
.welcome__content-animation-secondTrader-name {
  color: rgb(0, 18, 133);
  font-size: 16px;
  font-weight: 400;
  padding-right: 14px;
}
.welcome__content-animation-secondTrader-cursor {
  position: absolute;
  top: -20px;
  left: -10px;
}

@keyframes trader1 {
  0% {
    bottom: 180px;
    left: -30px;
  }
  10% {
    bottom: 180px;
    left: -30px;
  }
  20% {
    bottom: 70px;
    left: 25px;
  }
  90% {
    bottom: 70px;
    left: 25px;
  }
  100% {
    bottom: 180px;
    left: -30px;
  }
}
@keyframes buy {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes trader2 {
  0% {
    right: -95px;
    bottom: 195px;
  }
  30% {
    right: -95px;
    bottom: 195px;
  }
  40% {
    right: -5px;
    bottom: 280px;
  }
  90% {
    right: -5px;
    bottom: 280px;
  }
  100% {
    right: -95px;
    bottom: 195px;
  }
}
@keyframes sell {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 590px;
  padding: 64px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
}
.modal__content-close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal__content-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.modal__content-form {
  width: 424px;
}
.modal__content-form-label {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(94, 94, 94);
}
.modal__content-form-input {
  margin-top: 4px;
  width: 100%;
  background: rgb(245, 247, 250);
  border-radius: 8px;
  padding: 18.5px 16px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(30, 30, 30);
}
.modal__content-form-input::-moz-placeholder {
  color: rgb(149, 149, 149);
  font-size: 16px;
  font-weight: 700;
}
.modal__content-form-input::placeholder {
  color: rgb(149, 149, 149);
  font-size: 16px;
  font-weight: 700;
}
.modal__content-form-input:hover {
  outline: 1px solid rgb(255, 186, 47);
}
.modal__content-form-input:focus {
  outline: 1px solid rgb(255, 186, 47);
}
.modal__content-form-input:invalid {
  outline: 1px solid rgb(222, 68, 19);
}
.modal__content-form-button {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background: rgb(255, 186, 47);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-top: 32px;
}
.modal__content-form-button:hover {
  background: rgb(241, 162, 0);
}
.modal__content-form-button:active {
  background: rgb(241, 162, 0);
}
.modal__content-form-privacy {
  font-size: 14px;
  font-weight: 400;
  color: rgb(94, 94, 94);
  margin-top: 8px;
}
.modal__content-form-privacy-link {
  color: rgb(94, 94, 94);
  font-weight: 600;
}

.error-message {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  color: rgb(222, 68, 19);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border: 0;
}

body {
  background: rgb(245, 247, 250);
}

.disable-smooth-scroll {
  scroll-behavior: auto !important;
}

.gradient-letters {
  background: linear-gradient(92.21deg, #de4413 0%, #ffb299 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.burger-checkbox {
  display: none;
}

.burger {
  display: none;
}

.header {
  z-index: 999;
  width: 100%;
  position: absolute;
}
.header__container {
  margin: 0 auto;
  padding-top: 32px;
  max-width: 1320px;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.header__logo-span {
  color: #f7a600;
}
.header__list {
  display: flex;
  gap: 56px;
}
.header__list-item-link {
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.welcome {
  height: 1000px;
  background: url("../assets/bg.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__content {
  display: flex;
  gap: 73px;
  align-items: center;
  align-self: center;
}
.welcome__content-block {
  width: 628px;
}
.welcome__content-block-bybit {
  color: #ffffff;
  width: 204px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #323232;
  border-radius: 100px;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
}
.welcome__content-block-title {
  margin-top: 24px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 600;
}
.welcome__content-block-title-coins {
  vertical-align: middle;
}
.welcome__content-block-text {
  margin-top: 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.welcome__content-block-text-visible {
  display: none;
}

.calculator {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.calculator__content {
  width: 393px;
}
.calculator__content-title {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 600;
}
.calculator__content-text {
  margin-top: 24px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
}
.calculator__calc {
  display: flex;
  justify-content: space-between;
  padding: 48px 64px;
  border-radius: 20px;
  width: 872px;
  background: rgb(255, 255, 255);
}
.calculator__calc-calculation {
  width: 448px;
}
.calculator__calc-capital-title {
  color: rgb(94, 94, 94);
  font-size: 16px;
  font-weight: 400;
}
.calculator__calc-capital-value {
  margin-top: 4px;
  width: 200px;
  height: 56px;
  background: rgb(245, 247, 250);
  border-radius: 8px;
  padding: 18.5px 16px;
}
.calculator__calc-period {
  margin-top: 40px;
}
.calculator__calc-period-title {
  color: rgb(94, 94, 94);
  font-size: 16px;
  font-weight: 400;
}
.calculator__calc-rate {
  margin-top: 40px;
}
.calculator__calc-rate-stroke {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
.calculator__calc-rate-title {
  color: rgb(94, 94, 94);
  font-size: 16px;
  font-weight: 400;
}
.calculator__calc-rate-info {
  cursor: pointer;
}
.calculator__calc-rate-info-text {
  display: none;
  top: -20px;
  right: 15px;
  position: absolute;
  padding: 8px;
  width: 250px;
  border-radius: 8px;
  background: rgb(245, 247, 250);
  box-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.25);
}
.calculator__calc-range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: rgb(245, 247, 250);
}
.calculator__calc-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-sizing: content-box;
  border: 8px solid rgb(255, 186, 47);
  cursor: pointer;
}
.calculator__calc-result-value {
  padding: 48px 24px;
  background: rgb(245, 247, 250);
  border-radius: 20px;
  width: 248px;
  text-align: center;
}
.calculator__calc-result-value-title {
  font-size: 16px;
  font-weight: 400;
  color: rgb(94, 94, 94);
}
.calculator__calc-result-value-profit {
  word-wrap: break-word;
  margin-top: 8px;
  font-size: 32px;
  font-weight: 600;
  color: rgb(46, 86, 255);
}
.calculator__calc-result-value-total {
  word-wrap: break-word;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(46, 86, 255);
}
.calculator__calc-result-value-stroke {
  width: 100%;
  height: 1px;
  margin: 24px 0 24px 0;
  background: linear-gradient(90deg, #f5f7fa 0%, #dddddd 25%, #dddddd 50%, #dddddd 75%, #f5f7fa 100%);
}
.calculator__calc-result-annual {
  margin-top: 16px;
  width: 248px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 20px;
  padding: 24px;
}
.calculator__calc-result-annual-ourTraders {
  font-weight: 700;
  font-size: 16px;
  color: rgb(30, 30, 30);
}
.calculator__calc-result-annual-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(94, 94, 94);
}
.calculator__calc-result-annual-text {
  margin-top: 4px;
  font-weight: 700;
  font-size: 16px;
  color: rgb(30, 30, 30);
}
.calculator__calc-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.calculator__calc-checkbox-label {
  margin-top: 40px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: rgb(94, 94, 94);
}
.calculator__calc-checkbox-custom {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.calculator__calc-checkbox:checked ~ .calculator__calc-checkbox-custom {
  background-color: rgb(255, 186, 47);
}
.calculator__calc-checkbox:checked ~ .calculator__calc-checkbox-custom:after {
  display: block;
}
.calculator__calc-checkbox-custom:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}

.why__title {
  margin-top: 80px;
  text-align: center;
  color: rgb(30, 30, 30);
  font-weight: 600;
  font-size: 40px;
}
.why__cards {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.why__cards-algorithm {
  background: #ffffff;
  border-radius: 20px;
  position: relative;
  width: 872px;
  height: 224px;
  padding: 32px;
  display: flex;
  gap: 38px;
}
.why__cards-algorithm-title {
  color: rgb(30, 30, 30);
  font-size: 24px;
  font-weight: 600;
}
.why__cards-algorithm-text {
  margin-top: 8px;
  color: rgb(30, 30, 30);
  font-size: 16px;
  font-weight: 400;
}
.why__cards-algorithm-list {
  margin-top: 40px;
  display: flex;
  gap: 64px;
}
.why__cards-algorithm-list-item-title {
  color: rgb(94, 94, 94);
  font-size: 16px;
  font-weight: 400;
}
.why__cards-algorithm-list-item-text {
  color: rgb(46, 86, 255);
  font-size: 32px;
  font-weight: 600;
}
.why__cards-algorithm-img {
  position: absolute;
  bottom: 38px;
  right: 32px;
  width: 149px;
  height: 149px;
}
.why__cards-line {
  margin-top: 24px;
  display: flex;
  gap: 22px;
}
.why__cards-line-risk {
  background: #ffffff;
  border-radius: 20px;
  position: relative;
  width: 424px;
  height: 224px;
  padding: 32px;
}
.why__cards-line-risk-title {
  color: rgb(30, 30, 30);
  font-size: 24px;
  font-weight: 600;
}
.why__cards-line-risk-text {
  margin-top: 8px;
  color: rgb(30, 30, 30);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 246px;
}
.why__cards-line-risk-img {
  display: block;
  position: absolute;
  width: 137px;
  height: 137px;
  bottom: 13px;
  right: 9px;
}
.why__cards-line-effort {
  background: #ffffff;
  border-radius: 20px;
  position: relative;
  width: 424px;
  height: 224px;
  padding: 32px;
}
.why__cards-line-effort-title {
  color: rgb(30, 30, 30);
  font-size: 24px;
  font-weight: 600;
}
.why__cards-line-effort-text {
  margin-top: 8px;
  color: rgb(30, 30, 30);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 246px;
}
.why__cards-line-effort-img {
  display: block;
  position: absolute;
  width: 137px;
  height: 137px;
  bottom: 13px;
  right: 9px;
}
.why__cards-start {
  background: #ffffff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 424px;
  height: 472px;
  padding: 32px;
}
.why__cards-start-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  color: rgb(30, 30, 30);
}
.why__cards-start-img {
  position: absolute;
  bottom: -70px;
  right: -90px;
}

.profit {
  position: relative;
  padding-bottom: 100px;
}
.profit__title {
  margin-top: 90px;
  color: rgb(30, 30, 30);
  font-weight: 600;
  font-size: 40px;
}
.profit__subtitle {
  padding: 12px 24px;
  border-radius: 20px;
  background: #ffffff;
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  color: rgb(30, 30, 30);
  transform: rotate(7.59deg);
  top: 0px;
  left: 170px;
}
.profit__cards {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.profit__cards-card:nth-child(1) .profit__cards-card-img {
  margin-top: 24px;
}
.profit__cards-card:nth-child(2) .profit__cards-card-img {
  margin-top: 64px;
}
.profit__cards-card:nth-child(3) .profit__cards-card-img {
  margin-top: 104px;
}
.profit__cards-card {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  border-radius: 20px;
  width: 424px;
  color: #ffffff;
  background: linear-gradient(108.72deg, #404048 1.34%, #1b1b23 96.39%);
}
.profit__cards-card-title {
  font-size: 24px;
  font-weight: 600;
}
.profit__cards-card-procent {
  margin-top: 24px;
  font-size: 32px;
  font-weight: 600;
}
.profit__cards-card-text {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.profit__cards-card-img {
  display: block;
}

.security {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.security__title {
  position: relative;
  color: rgb(30, 30, 30);
  font-size: 40px;
  font-weight: 600;
  z-index: 3;
}
.security__vector {
  z-index: 1;
  position: absolute;
  top: -100px;
  left: -300px;
}
.security__cards {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: right;
}
.security__cards-card {
  width: 424px;
  padding: 1px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(109.08deg, #2e56ff 19.87%, #eaeaea 47.62%);
}
.security__cards-card-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 28px 32px;
  border-radius: 20px;
  background: linear-gradient(90deg, #e7ebff 0%, #f2f4ff 14.85%, #ffffff 100%);
}
.security__cards-card-text {
  color: rgb(30, 30, 30);
  font-size: 16px;
  font-weight: 400;
}

.trader {
  margin-top: 90px;
}
.trader__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.trader__subtitle {
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.trader__cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 56px;
}
.trader__cards-card {
  padding: 32px 64px;
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  background: rgb(234, 234, 234);
}
.trader__cards-card-title {
  color: rgb(30, 30, 30);
  font-size: 24px;
  font-weight: 600;
}
.trader__cards-card-text {
  margin-top: 8px;
  color: rgb(30, 30, 30);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.trader__cards-card-img {
  margin-top: 22px;
  display: block;
  width: 226px;
  height: 280px;
  border-radius: 20px;
  border: 10px solid rgba(255, 255, 255, 0.48);
}

.startNow {
  margin-top: 80px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 80px 64px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 403px;
  background: url("../assets/startNow/grid.svg"), linear-gradient(108.72deg, #404048 1.34%, #1b1b23 96.39%);
}
.startNow__content {
  width: -moz-fit-content;
  width: fit-content;
}
.startNow__title {
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  width: 550px;
}
.startNow__text {
  margin-top: 16px;
  font-size: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.startNow__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 48px;
  width: 224px;
  height: 64px;
  background: rgb(255, 186, 47);
  border-radius: 8px;
  color: rgb(30, 30, 30);
  font-weight: 700;
  font-size: 16px;
}
.startNow__button:hover {
  background: rgb(241, 162, 0);
}
.startNow__button:active {
  background: rgb(241, 162, 0);
}
.startNow__images-handWithPhone {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 686px;
  height: 385px;
}
.startNow__images-currency {
  position: absolute;
  bottom: 30px;
  right: 0;
}

.stillHesitating {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 141px;
  position: relative;
  padding: 35px 92px;
  background: linear-gradient(108.72deg, #404048 1.34%, #1b1b23 96.39%);
  border-radius: 20px;
}
.stillHesitating__img {
  border-radius: 20px;
  box-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.25);
}
.stillHesitating__wallet {
  position: absolute;
  top: -60px;
  left: 0;
}
.stillHesitating__content {
  width: -moz-fit-content;
  width: fit-content;
}
.stillHesitating__content-title {
  font-size: 40px;
  font-weight: 600;
}
.stillHesitating__content-text {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.stillHesitating__content-button {
  cursor: pointer;
  width: 224px;
  height: 64px;
  margin-top: 48px;
  background: rgb(255, 186, 47);
  border-radius: 8px;
  color: rgb(30, 30, 30);
  font-weight: 700;
  font-size: 16px;
}
.stillHesitating__content-button:hover {
  background: rgb(241, 162, 0);
}
.stillHesitating__content-button:active {
  background: rgb(241, 162, 0);
}

.slider {
  overflow: hidden;
  border-radius: 20px;
  padding: 80px 0;
  background: rgb(255, 255, 255);
  margin-top: 80px;
}
.slider__header {
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider__header-title {
  font-size: 40px;
  font-weight: 600;
  color: rgb(30, 30, 30);
}
.slider__header-control {
  display: flex;
  gap: 16px;
  align-items: center;
}
.slider__header-control-left {
  background: rgb(255, 186, 47);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider__header-control-left:hover {
  background: rgb(241, 162, 0);
}
.slider__header-control-left:active {
  background: rgb(241, 162, 0);
}
.slider__header-control-right {
  background: rgb(255, 186, 47);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider__header-control-right:hover {
  background: rgb(241, 162, 0);
}
.slider__header-control-right:active {
  background: rgb(241, 162, 0);
}
.slider__content {
  margin-top: 56px;
  position: relative;
}
.slider__content-line {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  width: -moz-fit-content;
  width: fit-content;
}
.slider__content-card:nth-child(1) {
  margin-left: 64px;
}
.slider__content-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: rgb(245, 247, 250);
  width: 372px;
  height: 332px;
}
.slider__content-card-header {
  padding: 32px 32px 0 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.slider__content-card-header-img {
  border-radius: 50%;
}
.slider__content-card-header-name {
  color: rgb(94, 94, 94);
  font-size: 16px;
  font-weight: 700;
}
.slider__content-card-text {
  padding: 0 32px;
  margin-top: 16px;
  line-height: 150%;
}
.slider__content-card-line {
  padding: 16px 32px;
  background: rgb(255, 255, 255);
  height: 100px;
  width: 100%;
  display: flex;
  gap: 48px;
  margin-top: auto;
  border-radius: 0 0 20px 20px;
}
.slider__content-card-line-returns-title {
  color: rgb(94, 94, 94);
}
.slider__content-card-line-returns-percent {
  font-size: 24px;
  font-weight: 600;
  color: rgb(46, 86, 255);
}
.slider__content-card-line-invest-title {
  color: rgb(94, 94, 94);
}
.slider__content-card-line-invest-period {
  font-size: 24px;
  font-weight: 600;
  color: rgb(46, 86, 255);
}
.slider__content-card1 {
  width: 100px;
  background-color: #ffffff;
}

.analystPredicts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  height: 403px;
  margin-top: 80px;
  background: radial-gradient(65.98% 82.88% at 48.33% 20.97%, #4e4e55 0%, #1b1b23 100%);
}
.analystPredicts__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.analystPredicts__text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
}
.analystPredicts__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 48px;
  width: 224px;
  height: 64px;
  background: rgb(255, 186, 47);
  border-radius: 8px;
  color: rgb(30, 30, 30);
  font-weight: 700;
  font-size: 16px;
}
.analystPredicts__button:hover {
  background: rgb(241, 162, 0);
}
.analystPredicts__button:active {
  background: rgb(241, 162, 0);
}

.faq {
  overflow: hidden;
  margin-top: 80px;
  position: relative;
}
.faq__bg {
  position: absolute;
  left: -25%;
  top: -50px;
}
.faq__title {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: rgb(30, 30, 30);
}
.faq__accordions {
  margin: 0 auto;
  margin-top: 56px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.faq__accordion:first-child .faq__accordion-header {
  border-radius: 20px 20px 0 0;
}
.faq__accordion:last-child .faq__accordion-header {
  border-radius: 0 0 20px 20px;
}
.faq__accordion {
  width: 872px;
  z-index: 10;
}
.faq__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  position: relative;
  cursor: pointer;
  height: 110px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(9, 9, 9);
  padding: 0 24px;
}
.faq__accordion-header-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #eaeaea;
  border-radius: 50%;
}
.faq__accordion-content {
  transition: max-height 0.75s ease-out;
  padding: 0 24px 32px 24px;
  background: #ffffff;
  display: none;
}
.faq__accordion-content-list {
  list-style: inside;
}

.faq__accordion-content.active {
  display: block;
}

.faq__accordion-header.active .faq__accordion-header-arrow {
  background: rgb(255, 186, 47);
}
.faq__accordion-header.active .faq__accordion-header-arrow svg > path {
  fill: #ffffff;
}
.faq__accordion-header.active .faq__accordion-header-arrow svg {
  rotate: 180deg;
}

.startNowSecond {
  position: relative;
  margin-top: 80px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 80px 64px;
  border-radius: 20px;
  width: 100%;
  height: 472px;
  background: url("../assets/startNow/grid.svg"), linear-gradient(108.72deg, #404048 1.34%, #1b1b23 96.39%);
}
.startNowSecond__content {
  width: -moz-fit-content;
  width: fit-content;
}
.startNowSecond__title {
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.startNowSecond__text {
  margin-top: 16px;
  font-size: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.startNowSecond__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 48px;
  width: 224px;
  height: 64px;
  background: rgb(255, 186, 47);
  border-radius: 8px;
  color: rgb(30, 30, 30);
  font-weight: 700;
  font-size: 16px;
}
.startNowSecond__button:hover {
  background: rgb(241, 162, 0);
}
.startNowSecond__button:active {
  background: rgb(241, 162, 0);
}
.startNowSecond__images {
  overflow: hidden;
}
.startNowSecond__images-hand {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 0 20px 0;
}
.startNowSecond__images-coins {
  position: absolute;
  top: 30px;
  right: 100px;
}
.startNowSecond__images-coin {
  position: absolute;
  top: -60px;
  right: 150px;
}
.startNowSecond__line {
  border-radius: 0 0 20px 20px;
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 10px 64px;
  width: 100%;
  background: linear-gradient(108.72deg, #404048 1.34%, rgba(27, 27, 35, 0.4745098039) 96.39%);
  margin-top: auto;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.startNowSecond__line-text {
  font-size: 16px;
  color: rgb(217, 217, 217);
}

.footer {
  margin-top: 80px;
  padding: 32px 0;
  background: rgb(14, 14, 14);
}
.footer__text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
}

.call {
  height: 100vh;
  background: url("./../assets/call/bg.svg"), #0e0e0e;
}
.call__container {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  width: 760px;
}
.call__img {
  position: absolute;
  bottom: 0;
  left: -600px;
  z-index: 3;
}
.call__img2 {
  position: absolute;
  bottom: 0px;
  right: -560px;
  z-index: 1;
}
.call__img3 {
  display: none;
}
.call__img4 {
  display: none;
}
.call__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call__content-text {
  position: relative;
  top: 200px;
}
.call__content-text-title {
  color: rgb(245, 247, 250);
  font-size: 56px;
  font-weight: 600;
}
.call__content-text-subtitle {
  text-align: center;
  margin-top: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
}
.call__content-block {
  position: absolute;
  border-radius: 20px;
  background: linear-gradient(127.77deg, #404048 -94.39%, #1b1b23 107.52%);
  z-index: 2;
  padding: 32px 0;
  width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  bottom: 220px;
}
.call__content-block-title {
  width: 320px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.call__content-block-line {
  display: flex;
  gap: 56px;
  align-items: center;
}
.call__content-block-line-achievement {
  width: 154px;
}
.call__content-block-line-achievement-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.call__content-block-line-achievement-text {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 150%;
}
.call__footer {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  padding: 32px 0;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  z-index: 999;
}

.gray {
  color: rgb(94, 94, 94);
}

@media (max-width: 1350px) {
  .call {
    overflow: hidden;
  }
  .header__container {
    max-width: 1000px;
  }
  .container {
    width: 1000px;
  }
  .welcome {
    overflow: hidden;
  }
  .welcome__content-block {
    width: 390px;
  }
  .welcome__content-block-title {
    font-size: 32px;
  }
  .welcome__content-block-title-coins {
    width: 80px;
  }
  .why__cards-algorithms {
    width: 650px;
  }
  .why__cards-algorithm {
    padding: 20px;
    width: 100%;
    height: 190px;
  }
  .why__cards-algorithm-list {
    gap: 20px;
  }
  .why__cards-algorithm-list-item-text {
    font-size: 24px;
  }
  .why__cards-algorithm-img {
    bottom: 20px;
    right: 10px;
    width: 120px;
    height: 120px;
  }
  .why__cards-start {
    height: 482px;
    padding: 20px;
    width: 300px;
    height: 404px;
  }
  .why__cards-start-title {
    font-size: 24px;
  }
  .why__cards-start-img {
    width: 300px;
    bottom: -50px;
    right: -40px;
  }
  .why__cards-line-risk {
    padding: 20px;
    height: 190px;
  }
  .why__cards-line-risk-img {
    width: 100px;
    height: 100px;
    bottom: 0px;
    right: 0px;
  }
  .why__cards-line-effort {
    padding: 20px;
    height: 190px;
  }
  .why__cards-line-effort-img {
    width: 100px;
    height: 100px;
    bottom: 0px;
    right: 0px;
  }
  .profit__cards-card {
    width: 310px;
  }
  .trader__cards-card {
    padding: 20px 40px;
  }
  .startNow__images-handWithPhone {
    right: -100px;
  }
  .startNow__images-currency {
    right: -100px;
  }
  .calculator__content-title {
    font-size: 32px;
  }
  .calculator__calc {
    padding: 20px 20px;
  }
  .calculator__calc-calculation {
    width: 300px;
  }
  .startNowSecond__images-hand {
    width: 550px;
  }
  .startNowSecond__images-coins {
    width: 350px;
    right: 100px;
    top: 100px;
  }
  .startNowSecond__images-coin {
    top: -30px;
  }
  .security__cards-card {
    width: 350px;
  }
  .security__cards-card-content {
    padding: 20px;
  }
}
@media (max-height: 800px) {
  .modal__content {
    width: 500px;
    padding: 20px;
    gap: 0px;
  }
  .modal__content-title {
    width: 350px;
  }
  .modal__content-form-input {
    padding: 15px 16px;
  }
  .modal__content-form-label {
    margin-top: 10px;
  }
  .modal__content-form-button {
    margin-top: 10px;
  }
}
@media (max-width: 1050px) {
  .container {
    width: 345px;
  }
  .header {
    width: 100%;
  }
  .header__active {
    height: 100vh;
    background: url("./../assets/bg.jpg"), #0e0e0e;
  }
  .header__container {
    width: 345px;
  }
  .header__logo {
    font-size: 22px;
  }
  .header__list {
    display: none;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 156px;
    z-index: 999;
  }
  .header__navigation {
    display: block;
  }
  .header__navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .welcome {
    height: 925px;
  }
  .welcome__content {
    margin-top: 100px;
    flex-direction: column;
    gap: 0;
  }
  .welcome__content-block {
    width: 343px;
  }
  .welcome__content-block-bybit {
    width: 204px;
  }
  .welcome__content-block-title {
    font-size: 32px;
  }
  .welcome__content-block-title-coins {
    width: 78px;
    height: 32px;
  }
  .welcome__content-block-text-orange {
    font-weight: 600;
    color: #ffb299;
  }
  .welcome__content-block-text-hidden {
    display: none;
  }
  .welcome__content-block-text-visible {
    text-align: center;
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 64px;
  }
  .welcome__content-animation {
    margin-top: 40px;
    width: 311px;
  }
  .welcome__content-animation-graph {
    width: 311px;
    height: 248px;
    background: url("./../assets/graph/graphMobile.svg") no-repeat center center/cover;
    border-radius: 20px;
  }
  .welcome__content-animation-profit {
    width: 103px;
    height: auto;
    left: 200px;
  }
  .welcome__content-animation-profit-title {
    margin-top: 5px;
    font-size: 8.24px;
  }
  .welcome__content-animation-profit-text {
    margin-top: 4px;
    font-size: 15.17px;
  }
  .welcome__content-animation-sell {
    width: 27.5px;
    height: 18px;
    right: 85px;
    top: 35px;
  }
  .welcome__content-animation-buy {
    width: 27.5px;
    height: 18px;
    left: 95px;
    bottom: 110px;
  }
  .welcome__content-animation-firstTrader {
    gap: 6px;
    animation: firstTraderMobile 5s ease infinite;
  }
  .welcome__content-animation-firstTrader-cursor {
    width: 11.25px;
    height: 13.5px;
    right: -5px;
    top: -15px;
  }
  .welcome__content-animation-firstTrader-img {
    width: 18px;
    height: 18px;
  }
  .welcome__content-animation-firstTrader-name {
    font-size: 9px;
    padding-right: 4px;
  }
  .welcome__content-animation-secondTrader {
    gap: 6px;
    animation: secondTraderMobile 5s ease infinite;
  }
  .welcome__content-animation-secondTrader-cursor {
    width: 11.25px;
    height: 13.5px;
    left: -5px;
    top: -15px;
  }
  .welcome__content-animation-secondTrader-img {
    width: 18px;
    height: 18px;
  }
  .welcome__content-animation-secondTrader-name {
    font-size: 9px;
    padding-right: 4px;
  }
  .why__cards {
    flex-direction: column;
  }
  .why__cards-algorithms {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .why__cards-algorithm {
    padding: 34px 16px;
    width: 100%;
    height: auto;
  }
  .why__cards-algorithm-title {
    width: 100%;
    font-size: 20px;
  }
  .why__cards-algorithm-text {
    margin-top: 4px;
    width: 100%;
    word-wrap: break-word;
    font-size: 16px;
  }
  .why__cards-algorithm-list {
    flex-direction: column;
    gap: 16px;
  }
  .why__cards-algorithm-list-item-text {
    font-size: 24px;
  }
  .why__cards-algorithm-img {
    width: 131px;
    height: 131px;
  }
  .why__cards-line {
    flex-direction: column;
    gap: 16px;
    margin-top: 0;
  }
  .why__cards-line-risk {
    padding: 34px 16px;
    overflow: hidden;
    height: auto;
    width: 100%;
  }
  .why__cards-line-risk-title {
    font-size: 20px;
  }
  .why__cards-line-risk-img {
    width: 113px;
    height: 113px;
    top: 0;
    right: -20px;
  }
  .why__cards-line-effort {
    padding: 34px 16px;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  .why__cards-line-effort-title {
    font-size: 20px;
  }
  .why__cards-line-effort-img {
    width: 85px;
    height: 85px;
    top: -15px;
    right: -15px;
  }
  .why__cards-start {
    padding: 34px 16px;
    margin-top: 16px;
    overflow: hidden;
    width: 100%;
    height: 256px;
  }
  .why__cards-start-title {
    font-size: 20px;
    line-height: 100%;
  }
  .why__cards-start-img {
    right: -40px;
    bottom: -40px;
    width: 263px;
    height: 224px;
  }
  .profit__title {
    font-size: 32px;
    text-align: center;
  }
  .profit__subtitle {
    top: -40px;
  }
  .profit__cards {
    margin-top: 56px;
    flex-direction: column;
    gap: 16px;
  }
  .profit__cards-card {
    width: 100%;
  }
  .profit__cards-card:nth-child(1) .profit__cards-card-img {
    margin-top: 24px;
  }
  .profit__cards-card:nth-child(2) .profit__cards-card-img {
    margin-top: 24px;
  }
  .profit__cards-card:nth-child(3) .profit__cards-card-img {
    margin-top: 24px;
  }
  .security {
    flex-direction: column;
    overflow: hidden;
  }
  .security__title {
    text-align: center;
  }
  .security__cards {
    margin-top: 56px;
    gap: 8px;
  }
  .security__cards-card-content {
    padding: 16px;
  }
  .security__cards-card:nth-child(2) {
    background: linear-gradient(150deg, #eaeaea 19.87%, #2e56ff 47.62%);
  }
  .security__cards-card:nth-child(4) {
    background: linear-gradient(150deg, #eaeaea 19.87%, #2e56ff 47.62%);
  }
  .trader__title {
    font-size: 32px;
  }
  .trader__cards {
    flex-direction: column;
    gap: 16px;
  }
  .trader__cards-card {
    padding: 32px 55px;
  }
  .startNow {
    padding: 64px 16px;
    width: 100%;
    height: 584px;
    flex-direction: column;
  }
  .startNow__title {
    width: 311px;
    font-size: 32px;
  }
  .startNow__button {
    width: 100%;
  }
  .startNow__images-handWithPhone {
    width: 407px;
    height: 228px;
  }
  .startNow__images-currency {
    width: 314px;
    height: 187px;
  }
  .calculator {
    flex-direction: column;
  }
  .calculator__content {
    width: 100%;
  }
  .calculator__calc {
    padding: 24px 16px;
    width: 100%;
    flex-direction: column;
  }
  .calculator__calc-calculation {
    width: 100%;
  }
  .calculator__calc-result-value {
    margin-top: 48px;
    padding: 32px 24px;
    width: 100%;
  }
  .calculator__calc-result-annual {
    width: 100%;
  }
  .calculator__calc-result-annual-line {
    margin-top: 12px;
    width: 100%;
    display: flex;
    gap: 24px;
  }
  .calculator__calc-result-annual-title {
    margin-top: 0;
  }
  .stillHesitating {
    flex-direction: column;
    padding: 16px;
    gap: 56px;
  }
  .stillHesitating__wallet {
    top: -30px;
    left: -30px;
    width: 130px;
  }
  .stillHesitating__content-title {
    font-size: 32px;
  }
  .stillHesitating__content-text {
    font-size: 16px;
  }
  .stillHesitating__content-button {
    width: 100%;
    margin-top: 40px;
  }
  .stillHesitating__img {
    width: 287px;
    height: 159px;
  }
  .slider {
    width: 100%;
    padding: 60px 10px;
  }
  .slider__header {
    padding: 0 16px;
    flex-direction: column;
  }
  .slider__header-control {
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
  }
  .slider__header-title {
    font-size: 32px;
  }
  .slider__content {
    margin-top: 20px;
  }
  .slider__content-card:nth-child(1) {
    margin-left: 16px;
  }
  .slider__content-card {
    width: 301px;
  }
  .slider__content-card-img {
    width: 100%;
    height: 100%;
  }
  .analystPredicts {
    padding: 64px 16px;
    width: 100%;
  }
  .analystPredicts__title {
    font-size: 24px;
  }
  .analystPredicts__button {
    width: 100%;
  }
  .faq__bg {
    left: -120%;
    width: 1175px;
    height: 329px;
  }
  .faq__title {
    font-size: 32px;
  }
  .faq__accordions {
    width: 100%;
  }
  .faq__accordion {
    width: 100%;
  }
  .faq__accordion-header {
    font-size: 20px;
  }
  .startNowSecond {
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    padding: 64px 16px;
    height: 700px;
  }
  .startNowSecond__title {
    font-size: 32px;
  }
  .startNowSecond__button {
    width: 100%;
  }
  .startNowSecond__images-hand {
    bottom: 50px;
    right: -10px;
    width: 366px;
    height: 200px;
  }
  .startNowSecond__images-coins {
    top: 390px;
    right: 50px;
    width: 252px;
    height: 129px;
  }
  .startNowSecond__images-coin {
    display: none;
  }
  .startNowSecond__line {
    padding: 10px 16px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__text {
    width: 240px;
  }
  .modal {
    align-items: end;
    width: 100%;
  }
  .modal__content {
    height: auto;
    border-radius: 32px 32px 0 0;
    width: 100%;
    padding: 20px 16px;
    gap: 0px;
  }
  .modal__content-title {
    font-size: 20px;
  }
  .modal__content-form {
    width: 100%;
  }
  .modal__content-form-label {
    margin-top: 10px;
  }
  .modal__content-form-button {
    margin-top: 20px;
  }
  .modal__content-form-input {
    padding: 14px 16px;
  }
  .call {
    overflow: hidden;
    width: 100%;
  }
  .call__container {
    width: 343px;
  }
  .call__img {
    display: none;
  }
  .call__img2 {
    display: none;
  }
  .call__img3 {
    display: block;
    z-index: 0;
    position: absolute;
    left: 35px;
    bottom: 165px;
  }
  .call__img4 {
    display: block;
    z-index: 99;
    position: absolute;
    bottom: -195px;
    left: -570px;
  }
  .call__content {
    width: 100%;
  }
  .call__content-text {
    top: 20%;
  }
  .call__content-text-title {
    font-size: 40px;
  }
  .call__content-block {
    padding: 32px 24px;
    width: 100%;
    bottom: 40px;
  }
  .call__content-block-title {
    font-size: 16px;
  }
  .call__content-block-line {
    flex-direction: column;
    gap: 24px;
  }
  .call__content-block-line-achievement {
    width: 100%;
  }
  .call__footer {
    display: none;
  }
  .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #ffffff;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #ffffff;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
}
@keyframes firstTraderMobile {
  0% {
    bottom: 200px;
    left: 10px;
  }
  10% {
    bottom: 200px;
    left: 10px;
  }
  20% {
    bottom: 70px;
    left: -10px;
  }
  90% {
    bottom: 70px;
    left: -10px;
  }
  100% {
    bottom: 200px;
    left: 10px;
  }
}
@keyframes secondTraderMobile {
  0% {
    right: 20px;
    bottom: 155px;
  }
  30% {
    right: 20px;
    bottom: 155px;
  }
  40% {
    right: -15px;
    bottom: 245px;
  }
  90% {
    right: -15px;
    bottom: 245px;
  }
  100% {
    right: 20px;
    bottom: 155px;
  }
}/*# sourceMappingURL=style.css.map */